#!/usr/bin/env bash

# aspire exports
export ASPIRE_POSTGRES_USERNAME=postgres
export ASPIRE_POSTGRES_PASSWORD=postgres
export ASPIRE_POSTGRES_DATABASE=postgres
export ASPIRE_POSTGRES_HOST=localhost

#export ASPIRE_POSTGRES_USERNAME=aspirebakhitdev
#export ASPIRE_POSTGRES_PASSWORD=12345678
#export ASPIRE_POSTGRES_DATABASE=aspirebakhitdev
#export ASPIRE_POSTGRES_HOST=aspirebakhitdev.cpgip5rco17i.ca-central-1.rds.amazonaws.com
export ASPIRE_AWS_MEDIA_BUCKET=aspire-bakhit-dev
export ASPIRE_JWT_SECRET=jlskdfhaskjkuhksfhyiughdutujfoewuotihklbjytknvksdihugkhg

# udagram exports
export POSTGRES_USERNAME=udagrambakhitdev
export POSTGRES_PASSWORD=12345678
export POSTGRES_DATABASE=udagrambakhitdev
export POSTGRES_HOST=udagrambakhitdev.cpgip5rco17i.ca-central-1.rds.amazonaws.com
export AWS_REGION=ca-central-1
export AWS_PROFILE=default
export AWS_MEDIA_BUCKET=udagram-bakhit-dev
export JWT_SECRET=jlskdfhaskjkuhksfhyiughdutujfoewuotihklbjytknvksdihugkhg

# other expoerts
export POSTGRESS_USERNAME=${POSTGRES_USERNAME}
export POSTGRESS_PASSWORD=${POSTGRES_PASSWORD}
export POSTGRESS_DB=${POSTGRES_DATABASE}
export POSTGRESS_DATABASE=${POSTGRES_DATABASE}
export POSTGRESS_HOST=${POSTGRES_HOST}
export AWS_BUCKET=${AWS_MEDIA_BUCKET}
export URL=http://localhost:8080

# Make vim the default editor.
export EDITOR='vim';

# Make Python use UTF-8 encoding for output to stdin, stdout, and stderr.
export PYTHONIOENCODING='UTF-8';

# Increase Bash history size. Allow 32³ entries; the default is 500.
export HISTSIZE='32768';
export HISTFILESIZE="${HISTSIZE}";
# Omit duplicates and commands that begin with a space from history.
export HISTCONTROL='ignoreboth';

# Prefer US English and use UTF-8.
export LANG='en_US.UTF-8';
export LC_ALL='en_US.UTF-8';

# Highlight section titles in manual pages.
export LESS_TERMCAP_md="${yellow}";

# Don’t clear the screen after quitting a manual page.
export MANPAGER='less -X';
